/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== VARIABLES ===== */
:root {
    --border-color: #7c7878;
    --dark-bg: #28282a;
    --light-bg: #ffffff;
    --primary-gray:#acadaf;
    --primary-border:#707070;
    --info-light:#AAAAAA;
    --prios-gry:#747578;
    --prime-aqua:#D9D9D9;
    --sweet-tomato:#B71A1B;
    
}

.white_balls{
    background-color: var(--light-bg) !important;
}
/* ===== LAYOUT ===== */
/* .wrapper {
    position: relative;
} */

.component {
    width: 100%;
    height: 257px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c_title{
    font-size: 1.2rem;
    color: var(--dark-bg);
    margin: 10px 0px;
    font-weight: 600;
}

.main-conainer {
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* ===== BOXES ===== */
.container-boxes-first,
.container-boxes-third {
    width: 85px;
    background-color: var(--dark-bg);
    position: relative;
}

.container-boxes-second {
    width: calc(100% - 170px);
    border: 4px solid var(--dark-bg);
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;          /* add: smooth horizontal scroll on touch */
    overscroll-behavior-x: contain;             /* add: prevent nested scroll chaining */
}

/* ===== COMMON SHAPES ===== */
.container-boxes-first span,
.container-boxes-third span {
    display: inline-block;
    background-color: var(--light-bg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ===== INDIVIDUAL SHAPES ===== */
.c_top {
    width: 50px;
    height: 20px;
    border-radius: 1.5rem;
    top: 10px;
}

.c_circle,
.c_circle_2 {
    width: 20px;
    height: 10px;
    border-radius: 50%;
}

.c_circle {
    top: 14%;
}

.c_circle_2 {
    bottom: 14%;
}

.c_round {
    width: 13px;
    height: 25px;
    border-radius: 0.3rem;
    top: 30%;
}

.c_bottom {
    width: 30px;
    height: 20px;
    border-radius: 0.5rem 0.5rem 0 0;
    bottom: 0;
}

.c_radio{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 30%;
    background-color: var(--primary-gray) !important;
    border: 2px solid var(--primary-border);
}

.c_input{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--primary-border);
}

.c_radio .c_input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ===== HUAWEI Code Starts====== */
.huwaei_container{                      
    display: flex;                        
    height: 100%;
    flex-wrap: nowrap;     
    width: 100%;                     
}
.huwaei_boxes_first {
    display: flex;
}
.huwaei_boxes_third{
    display: flex;
}
.huwaei_boxes_first:last-child{
    padding: 10px;
}
.huwaei_boxes_second{
    width: 160px;
    border: 1px solid var(--dark-bg);
    position: relative;
}

.huwaei_boxes_second> .huwei_title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.black_card{
    display: inline-block;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    left: 20px;
}
/* ====== gradient line ======= */
.gradient_line {
    position: absolute;
    width: 23px;
    height: 73px;

    background: linear-gradient(
        90deg,
        #d9d9d9 16.93%,
        #a5a5a5 56.88%,
        #737373 92.86%
    );
}

.gradient_line--top-right {
    top: 8%;
    right: -12px;
    transform: translateY(-8%);
}

.gradient_line--top-left {
    top: 8%;
    left: -0;
    transform: translateY(-8%);
}

.gradient_line--bottom-left {
    bottom: 5%;
    left: 0;
    transform: translateY(-5%);
}

.gradient_line--bottom-right {
    bottom: 5%;
    right: -12px;
    transform: translateY(-5%);
}

/* ==== code ends ==== */
.huawei_internal{
    width: 360px;
    border: 1px solid var(--dark-bg);
    display: flex;
    position: relative;
}

.hui_middle{
    position: absolute;
    width: 26px;
    height: 100%;
    background: linear-gradient(0deg, #000000 -27.87%, #E4E4E4 50.84%, #000000 119.4%);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle_line{
    display: inline-block;
    width: 22px;
    height: 105px;
    background-color: var(--light-bg);
    border-radius: 0.5rem;
}
.huawey_right_box{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 70px;
    width: 47px;
    display: flex;
    align-items: center;
}

.hwawey_shadow{
    height: 100%;
    width: 20px;
    background: var(--prios-gry);
    display: inline-block;
    border-radius: 0.2rem;
}

.huwaei_boxes_third > .huawei_internal:first-child {
    padding: 0 20px;
}

span.hwawey_shadow {
    position: relative;
    display: inline-block;
    width: 20px;
}

span.hwawey_shadow::after {
    content: "";
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 60px;
    background-color: #fff;
    border-radius: 0.2rem;
}

.huawei_internal .info_huvey> .huawey_right_box{
    left: 10px;
}

.info_huvey{
    border:2px solid var(--dark-bg);
    width: 100%;
    height: 100%;
    position: relative;
}

.right_side_line{
    display: inline-block;
    width: 20px;
    height: 80%;
    border: 2px solid var(--primary-border);
    background-color: var(--prime-aqua);
}
.aside_main{
     width: calc(100% / 2);
    /* border: 1px solid var(--dark-bg); */
    position: relative;
    overflow: hidden;
}


.huwei_internal{
    /* width: calc(100% / 3); */
    width: 275px;
    border: 1px solid var(--dark-bg);
    position: relative;
}
.h_boxes_model{
    display: inline-block;
    height: 40px;
    width: 100%;
    background-color: var(--light-bg);
}

.P_1{
    padding: 6px 30px 0px 45px;
}

.p_2{
    padding: 0px 25px 0px 80px;
}
.p_3{
    padding: 0px 25px;
}


.huwei_title{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 700;
    background-color: var(--prios-gry);
    border: 5px solid var(--dark-bg);
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 20px;
    transform: translateY(-20%);
}
.huwaei_text{
    position: absolute;
    top: 10%;
    right: 10px;
    transform: translateY(-10%);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing:1px;
}
.huawei_round{
    width: 35px;
    height: 35px;
    background-color: var(--prime-aqua);
    border:3px solid var(--dark-bg);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.serial_no,
.mac_number {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--info-light);
    padding: 2px 6px;
    font-size: 0.9rem;
    width: max-content;
    border-left: 1px solid var(--dark-bg);
    border-bottom: 1px solid var(--dark-bg);
}

.serial_no {
    top: 28%;
    
}

.mac_number {
    top: 45%;
}

/* ======= dotted code ========== */
span.line-2{
    display: inline-block;
    height:24px;
    width:24px;
    background-color: var(--dark-bg);
    border-radius: 50%;
    vertical-align: middle; 
    line-height: 1;     
    margin-right: -4px;    
}



/* ===== code ends ====== */


.box_red{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 100%;
    background-color: var(--prios-gry);
    display: flex;
    justify-content: center;
    align-items: center;
}
 .bg_red{
    display: inline-block;
    background-color: var(--sweet-tomato);
    height:32px;
    width: 251px;
    border-radius:1rem;
}
.gradient_box {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 115px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #fff 0%, #999 100%);
    border: 1px solid var(--dark-bg);
    border-radius: 0.2rem;
}





/* ======= ynety ======== */
