/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== VARIABLES ===== */
:root {
    --bg-rectangle:#D9D9D9;
    --border-color: #7c7878;
    --dark-bg: #28282a;
    --light-bg: #ffffff;
    --primary-gray:#acadaf;
    --primary-border:#707070;
    --info-light:#AAAAAA;
    --prios-gry:#747578;
    --ultra-gray:#848484;
    
}

/* ===== LAYOUT ===== */
/* .wrapper {
    position: relative;
} */
 .rotate{
    transform: rotate(180deg);
 }
 
.component {
    width: 100%;
    /* width: 1800px; */
    height: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c_title{
    font-size: 1.2rem;
    color: var(--dark-bg);
    margin: 10px 0px;
    font-weight: 600;
}

.main-conainer {
    /* border: 3px solid var(--dark-bg); */
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* ===== BOXES ===== */
.container-boxes-first,
.container-boxes-third {
    width: 85px;
    background-color: var(--dark-bg);
    position: relative;
}

.container-boxes-second {
    width: calc(100% - 170px);
    border: 4px solid var(--dark-bg);
    padding: 10px 0px 10px 20px;
    overflow-x: auto;
     overflow-y: hidden;
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--dark-bg) transparent;
}

.container-boxes-second::-webkit-scrollbar {
    height: 8px; 
}

.container-boxes-second::-webkit-scrollbar-track {
    background: transparent;
}

.container-boxes-second::-webkit-scrollbar-thumb {
    background-color: var(--dark-bg);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.container-boxes-second::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/* ===== COMMON SHAPES ===== */
.container-boxes-first span,
.container-boxes-third span {
    display: inline-block;
    background-color: var(--light-bg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ===== INDIVIDUAL SHAPES ===== */
.c_top {
    width: 50px;
    height: 20px;
    border-radius: 1.5rem;
    top: 10px;
}

.c_circle,
.c_circle_2 {
    width: 20px;
    height: 10px;
    border-radius: 50%;
}

.c_circle {
    top: 14%;
}

.c_circle_2 {
    bottom: 14%;
}

.c_round {
    width: 13px;
    height: 25px;
    border-radius: 0.3rem;
    top: 30%;
}

.c_bottom {
    width: 30px;
    height: 20px;
    border-radius: 0.5rem 0.5rem 0 0;
    bottom: 0;
}

.c_radio{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 30%;
    background-color: var(--primary-gray) !important;
    border: 2px solid var(--primary-border);
}

.c_input{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--primary-border);
}

.c_radio .c_input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*======= container-boxes-second ======== */
.device-type{
    width: calc(100%);
    height: 100%;
    display: flex;
    gap: 10px;
}

.cloud{
    width: calc(70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-type ul {
    position: relative;
}

/* ==== added-feature ==== */

.device-type ul li:last-child {
    margin-top:20px;
}

.device-type ul {
    position: relative; 
}

.device-type ul::after {
    content: "55731 H 24T4XE";
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 38px;
    /* height: 15px; */
    padding: 0 6px;
    background-color: var(--dark-bg);
    color: #fff;
    font-size: 0.6rem;
    line-height: 15px;
    text-align: center;
    border-radius: 0.2rem;
    transform: translateY(50px);
    white-space: break-spaces;
}

.module-view{
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
    min-width: max-content;
    /* padding: 0px 10px;; */
}

.device-type ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.device-type ul li {
    position: relative;
    padding-right: 24px;
    font-size: 11px;
    line-height: 14px;
}

.device-type ul li:last-child::after {
    background-color: var(--dark-bg);     
    width: 18px;             
    height: 18px;
}



.device-type ul li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--dark-bg); 
    border-radius: 50%;
}

span.line-1 {
    display: block;           
    position: relative;
    height: 18px;           
    width: 100%;              
    background-image: url("../images/Ellipse\ 62.png");
    background-repeat: repeat-x; 
    background-size: 18px 18px;  
}

/* micro-processor code */

.micro_processor{
  width: calc(100%);
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.microp_left{
    width: calc(70%);
    /* border: 1px solid var(--dark-bg); */
}

.box_container{
    display: flex;
    gap: 10px;
}

.rectangle {
    width: 494px;
    height: 162px;
    border: 2px solid var(--dark-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px; 
    background: var(--bg-rectangle);
    border-radius: 0.2rem;
    position: relative;
}
.rectangle_bottom{
    position: absolute;
    top: calc(100% + 2px);
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--light-bg);
    height: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7px;
    /* border: 1px solid var(--dark-bg); */
    border-radius: 0.2rem;
}

.rectangle_child_boxes{
    flex: 0 0 calc(16.66% - 7px);
    font-size: 0.8rem;
}

.rectangle_boxes {
    flex: 0 0 calc(16.66% - 7px); 
    height: 54px;
    /* border: 1px solid var(--dark-bg); */
    box-sizing: border-box;
}


.microp_right{
    /* width: calc(100% - 70%); */
    /* border: 1px solid var(--dark-bg); */
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.right_first_box{
    position: relative;
}
.c_right{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c_bottom_two {
    position: absolute;
    top: calc(100%);
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--light-bg);
    height: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-bg);
    border-radius: 0.2rem;
    z-index: -1;
    /* font-size: 0.5rem; */
}

.bottom_center_txt{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 6px);
    font-size: 0.7rem;
    background-color: var(--light-bg);
}

.c_internal{
   flex: 0 0 45%;
   display: flex;
   justify-content: center;
   font-size: 0.8rem;
}

.right_first_parent{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px; 
     width: 167px;
    height: 162px;
    border: 2px solid var(--dark-bg);
    background-color: var(--bg-rectangle);
    border-radius: 0.2rem;
}
.right_inner_boxes{
    flex: 0 0 calc(50% - 7px); 
    height: 54px;
    /* border: 1px solid var(--dark-bg); */
    box-sizing: border-box;
}

.right_second_box{
    position: relative;
}

.right_sec_top {
    position: absolute;
    height: 15px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    bottom: calc(100%);
}

.right_sec_end{
    position: absolute;
    height: 15px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
   top: calc(100%);
}

.right_internal_main{
     width: 98px;
     height: 162px;
    border: 2px solid var(--dark-bg);
    background-color: var(--bg-rectangle);
    border-radius: 0.2rem;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px; 
}

.right_middle_box{
    flex: 0 0 calc(100% - 7px); 
    height: 54px;
    /* border: 1px solid var(--dark-bg); */
    box-sizing: border-box;
}


.right_third_parent{
      width: 53px;
     height: 162px;
    /* border: 2px solid var(--dark-bg);
    border-radius: 0.2rem; */
     display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px; 
    position: relative;
}

.black_box {
    width: 35px;
    height: 100px;
    background-color: var(--dark-bg);
    border-radius: 0.2rem;
    padding: 8px;
    display: flex;
    gap: 5px;
    overflow: hidden;
}

.black_left,
.black_right {
    width: 10px;
    height: 100%;
    background-color: var(--light-bg);
}

.black_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.black_left .square_span {
    width: 8px;
    height: 8px;
    background-color: var(--dark-bg);
    display: block;
}

.circle_dot{
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    height: 18px;
    width: 18px;
    background-color: var(--dark-bg);
    border-radius: 50%;
}

.zig_zag {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    height: 18px;
    width: 25px;
    border-radius: 50%;
    background-image: url("../images/R\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}


.right_bottom{
    flex: 0 0 calc(100% - 7px); 
    height: 110px;
    border: 1px solid var(--dark-bg);
    background-color: var(--bg-rectangle);
    box-sizing: border-box;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ==== code ends ==== */

/* ===== CHIP CONTAINER ===== */
.chip2 {
  position: relative;
  width: 68px;         
  height: 48px;      
  margin: auto;
}

/* ===== TOP DETAILS ===== */
.chip2-rec1 {
  position: absolute;
  top: 3px;
  right: 22px;
  width: 25px;
  height: 8px;
  background: #fffeff;
}

.chip2-rec2 {
  position: absolute;
  top: 8px;
  right: 18px;
  width: 32px;
  height: 10px;
  background: #191718;
}

/* ===== INNER BLOCK ===== */
.chip_inner_box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ===== LEDS ===== */
.led {
  position: absolute;
  top: 10px;
  width: 9px;
  height: 6px;
  border: 1px solid #fff;
  border-radius: 1px;
  z-index: 1;
}

.led.yellow {
  left: 6px;
  background: var(--ultra-gray);
}

.led.green {
  right: 6px;
  background: var(--ultra-gray);
}

/* ===== PORT ===== */
.chip-port {
  width: 54px;
  height: 34px;
  background: #191718;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 4px;
}

/* ===== PINS ===== */
.chip-pins {
  display: flex;
  gap: 3px;
}

.chip-pins span {
  width: 2px;
  height: 13px;
  background: #888;
}

#chip-port1,
#chip-port12 {
  width: 4px;
  height: 13px;
  background: #fff;
  position: relative;
  top: -6px;
}
