/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== VARIABLES ===== */
:root {
    --border-color: #7c7878;
    --dark-bg: #28282a;
    --light-bg: #ffffff;
    --primary-gray:#acadaf;
    --primary-border:#707070;
    --info-light:#AAAAAA;
    --prios-gry:#747578;
    
}

/* ===== LAYOUT ===== */
/* .wrapper {
    position: relative;
} */

.component {
    width: 100%;
    /* width: 1800px; */
    height: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-conainer {
    /* border: 3px solid var(--dark-bg); */
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* ===== BOXES ===== */
.container-boxes-first,
.container-boxes-third {
    width: 85px;
    background-color: var(--dark-bg);
    position: relative;
}

.container-boxes-second {
    width: calc(100% - 170px);
    border: 4px solid var(--dark-bg);
    padding: 10px 50px 10px 20px;
    overflow-x: auto;
     overflow-y: hidden;
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--dark-bg) transparent;
}

.container-boxes-second::-webkit-scrollbar {
    height: 8px; 
}

.container-boxes-second::-webkit-scrollbar-track {
    background: transparent;
}

.container-boxes-second::-webkit-scrollbar-thumb {
    background-color: var(--dark-bg);
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.container-boxes-second::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/* ===== COMMON SHAPES ===== */
.container-boxes-first span,
.container-boxes-third span {
    display: inline-block;
    background-color: var(--light-bg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ===== INDIVIDUAL SHAPES ===== */
.c_top {
    width: 50px;
    height: 20px;
    border-radius: 1.5rem;
    top: 10px;
}

.c_circle,
.c_circle_2 {
    width: 20px;
    height: 10px;
    border-radius: 50%;
}

.c_circle {
    top: 14%;
}

.c_circle_2 {
    bottom: 14%;
}

.c_round {
    width: 13px;
    height: 25px;
    border-radius: 0.3rem;
    top: 30%;
}

.c_bottom {
    width: 30px;
    height: 20px;
    border-radius: 0.5rem 0.5rem 0 0;
    bottom: 0;
}

.c_radio{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 30%;
    background-color: var(--primary-gray) !important;
    border: 2px solid var(--primary-border);
}

.c_input{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--primary-border);
}

.c_radio .c_input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*======= container-boxes-second ======== */
.device-type{
    width: calc(100%);
    height: 100%;
    display: flex;
}

.cloud{
    width: calc(70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-type ul {
    position: relative;
}

/* ==== added-feature ==== */

.device-type ul li:last-child {
    margin-top:20px;
}


.device-type ul::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 38px;
    height: 15px;
    background: #000;
    border-radius: 10px;
    transform: translateY(50px);
}


.module-view{
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
    width: max-content;  /* max-content added  */
    /* padding: 0px 10px;; */
}

.device-type ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.device-type ul li {
    position: relative;
    padding-right: 24px;
    font-size: 11px;
    line-height: 14px;
}

.device-type ul li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--dark-bg); 
    border-radius: 50%;
}

/* ======== module-view ========= */

span.line-1 {
    display: block;           
    position: relative;
    height: 18px;           
    width: 100%;              
    background-image: url("../images/Ellipse\ 62.png");
    background-repeat: repeat-x; 
    background-size: 18px 18px;  
}

/* span.line-1 {
    display: block;
    height: 18px;
    width: 100%;
    min-width: 100vw;   
    background-image: url("../images/Ellipse 62.png");
    background-repeat: repeat-x;
    background-size: 18px 18px;
} */


.parent {
    overflow: hidden;
}
.chip_left {
    width: 70%;
    float: left;
    
}

.chip_right {
    width: 28%;
    float: right;
    padding-left: 120px;
}

.another_parent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    /* position: relative;  */
    
}

.dotted_left {
    width: 24.4%;
    overflow: hidden
}

.dotted_right {
    display: flex;
    /* position: relative;  */
    width: 76%;
    min-height: 175px;
    /* border: 1px solid #000; */
    padding: 10px;
    overflow-x: unset;
    /* overflow: hidden; */
}


/* ==== circuit container code starts ==== */
.circuit_container_main {
    width: 275px;
    min-width: 275px;
    max-width: 275px;
    flex: 0 0 275px;      
    flex-shrink: 0;      
    background-color: var(--info-light);
    border: 2px solid var(--primary-border);
    padding: 15px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.circut_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* gap: 10px; */
}

.inner_boxes {
    width: 60px;
    min-width: 60px;
    flex: 0 0 60px;  
}

.container {
    position: relative;
    width: 60px;
    height: 50px;
    background: var(--dark-bg);
}

.most-top-rectangle {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 12px;
    background: var(--light-bg);
}

.top-rectangle {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 33px;
    height: 12px;
    background: var(--dark-bg);
}

/* ===== INDICATORS ===== */
.left-square,
.right-square {
    position: absolute;
    top: -4px;
    width: 8px;
    height: 6px;
}

.left-square { left: 0; background: #c6c632; }
.right-square { right: 0; background: #126934; }

/* ===== SIDE BARS ===== */
.left-bar,
.right-bar {
    position: absolute;
    top: 15px;
    width: 5px;
    height: 15px;
    background: #fff;
}

.left-bar { left: 5px; }
.right-bar { right: 5px; }

/* ===== GRILL ===== */
.grill {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 15px;

    display: flex;
    justify-content: space-between;
}

.grill div {
    width: 3px;
    height: 15px;
    background: gray;
}

/* ==== code ends ====*/

/* ===== mechanism code starts here ===== */
.mechanism_container {
    margin-left: 40px;
    width: 275px;
    min-width: 275px;
    max-width: 275px;
    flex: 0 0 275px;         
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

/* ===== MAIN FLEX HOLDER ===== */
.m_parent {
    width: 275px;
    min-width: 275px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
    overflow: hidden;
    position: relative;
    background-color: var(--primary-border);
    border: 1px solid var(--info-light);
}

/* ===== FIXED BOXES ===== */
.m_box {
    width:68px;
    min-width:68px;
    height: 60px;
    flex: 0 0 68px;
    border: 1px solid var(--primary-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== INTERNAL ELEMENT ===== */
.m_internal {
    width: 40px;
    height: 20px;

    box-sizing: border-box;
    border: 4px solid var(--dark-bg);
    background-color: var(--light-bg);
}

/* ===== CENTRAL BAR ===== */
.m_parent .centeral_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;           
    height: 25px;
    background-color: var(--primary-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===== CENTRAL CELLS ===== */
.centeral_div .inside_txt {
    width: 65px;
    min-width: 65px;
    flex: 0 0 65px;     
    border: 2px solid #000;
    border-right: 2px solid var(--primary-gray);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
}

.centeral_div :nth-child(4) {
    border-right: 2px solid var(--dark-bg);
}

.centeral_div .inside_txt .overlay_box,
.centeral_div .inside_txt .overlay_box_two {
    position: absolute;
    width: 28px;
    height: 15px;

    background-color: var(--prios-gry);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

.overlay_box { top: -12px; }
.overlay_box_two { bottom: -12px; }

/* ===== STANDS ===== */
.centeral_div .inside_txt .stand_left,
.centeral_div .inside_txt .stand_right {
    position: absolute;
    width: 3px;
    height: 8px;
    background-color: var(--dark-bg);
    top: 50%;
    transform: translateY(-50%);
}

.stand_left { right: 0; }
.stand_right { left: 0; }

/* ===== ARROW ===== */
.arrow {
    font-size: 10px;
    color: var(--dark-bg);
}


/* ==== code ends ==== */
.device_timer{
    margin-left: 38px;
    border: 2.5px solid var(--primary-border);
    background-color: var(--info-light);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
}

.clock_watch{
    position: relative;
    width: 85px;
    height: 60px;
    background: var(--dark-bg);
}

.clock_watch--reverse{
    transform: rotate(180deg);
}

.clock_watch::before{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:50px;
    height:25px;
    background:var(--info-light);
    transform:translate(-50%,-50%);
}

.pill{
    position:absolute;
    width:3px;
    height:12px;
    background:var(--light-bg);
    top:50%;
    transform:translateY(-50%);
}

.pill.left{ left:0; }
.pill.right{ right:0; }

.square{
    position:absolute;
    width:10px;
    height:10px;
    background:var(--info-light);
    bottom:0;
}

.square.left{ left:0; }
.square.right{ right:0; }

.white{
    position:absolute;
    width:40px;
    height:10px;
    background:var(--light-bg);
    left:50%;
    bottom:0;
    transform:translate(-50%,50%);
}
.middle_arrow{
    text-align: center;
}

.device_timer_two {
    /* position: absolute;
    right: 0;        
    top: 50%;        
    transform: translate(25px, -50%); */
    margin-left: 20px;
    border: 2.5px solid var(--primary-border);
    background-color: var(--info-light);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
}

/* ==== code ends ==== */

/* ========== circuit container code starts ========= */
.circuit_container_two{
    width: 85px;
    margin-left: 25px;
    border: 2.5px solid var(--primary-border);
    background: var(--info-light);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 23px 10px;
}

.circut_container_two{
    width: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.inner_boxes_two{
    width: calc(100%);
}

/* ==== code ends ==== */

/* ====== USB section code starts ======= */
.usb_container {
    /* position: absolute;
    left: 78%;
    bottom: 0; */
    margin-left: 20px;
    width: 145px;
    background: var(--light-bg);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
    padding: 5px;
}
.sub_left {
    width: 80px;
    border: 1px solid var(--dark-bg);
    display: flex;
    gap: 2px;
}

.router_first {
    width: 30%;
    /* border: 1px solid orange; */
    position: relative;
}
.router_second{
     width: 70%;
    /* border: 1px solid orange; */
    position: relative;
    overflow: hidden;
}

.router_left,
.router_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 10px;
    height: 10px;
    background-color: var(--prios-gry);
}
.router_left {
    left: 0;
}

.router_right {
    right: 0;
}

.sub_right {
    width: 40px;
    display: flex;
    gap: 4px;
}
.usb_inenr,
.usb_inenr_r {
    width: 15px;
    height: 50px;
    background-color: var(--dark-bg);
    position: relative;
}
.w_box_l {
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    width: 3px;
    height: 20px;
    background-color: var(--light-bg);
}
.sub_square,
.sub_square_two {
    position: absolute;
    left: 2px;

    width: 3px;
    height: 5px;
    background-color: var(--light-bg);
}
.sub_square {
    top: 30%;
    transform: translateY(-30%);
}
.sub_square_two {
    top: 70%;
    transform: translateY(-70%);
}

.usb_inenr::after,
.usb_inenr_r::after {
    content: "";
    position: absolute;
    bottom: -10px;

    width: 100%;
    height: 5px;
    background: #000;
}


/* ==== code ends ==== */