/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== VARIABLES ===== */
:root {
    --border-color: #7c7878;
    --dark-bg: #28282a;
    --light-bg: #ffffff;
    --primary-gray:#acadaf;
    --primary-border:#707070;
    --info-light:#AAAAAA;
    --prios-gry:#747578;
    
}

/* ===== LAYOUT ===== */
.wrapper {
    position: relative;
}

.component {
    width: 1800px;
    height: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-conainer {
    /* border: 3px solid var(--dark-bg); */
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* ===== BOXES ===== */
/* .container-boxes-first,
.container-boxes-second,
.container-boxes-third {
    border: 1px solid var(--border-color);
} */

.container-boxes-first,
.container-boxes-third {
    width: 120px;
    background-color: var(--dark-bg);
    position: relative;
}

.container-boxes-second {
    width: calc(100% - 240px);
    border: 4px solid var(--dark-bg);
    padding: 10px 20px;
}

/* ===== COMMON SHAPES ===== */
.container-boxes-first span,
.container-boxes-third span {
    display: inline-block;
    background-color: var(--light-bg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ===== INDIVIDUAL SHAPES ===== */
.c_top {
    width: 50px;
    height: 20px;
    border-radius: 1.5rem;
    top: 10px;
}

.c_circle,
.c_circle_2 {
    width: 20px;
    height: 10px;
    border-radius: 50%;
}

.c_circle {
    top: 14%;
}

.c_circle_2 {
    bottom: 14%;
}

.c_round {
    width: 13px;
    height: 25px;
    border-radius: 0.3rem;
    top: 30%;
}

.c_bottom {
    width: 30px;
    height: 20px;
    border-radius: 0.5rem 0.5rem 0 0;
    bottom: 0;
}

.c_radio{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 30%;
    background-color: var(--primary-gray) !important;
    border: 2px solid var(--primary-border);
}

.c_input{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--primary-border);
}

.c_radio .c_input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*======= container-boxes-second ======== */
.device-type{
    width: calc(100%);
    height: 100%;
    display: flex;
}

.cloud{
    width: calc(70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.module-view{
    width: calc(100% - 70px);
    /* border: 1px solid #000;  */
    padding-right: 44px;
    padding-left: 11px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.device-type ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.device-type ul li {
    position: relative;
    padding-right: 24px;
    font-size: 11px;
    line-height: 14px;
}

.device-type ul li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--dark-bg); 
    border-radius: 50%;
}

/* ======== module-view ========= */

span.line-1 {
    display: block;           
    position: relative;
    height: 18px;           
    width: 100%;              
    background-image: url("./assest/images/Ellipse 62.png");
    background-repeat: repeat-x; 
    background-size: 18px 18px;  
}


.parent {
    overflow: hidden;
}
.chip_left {
    width: 68%;
    float: left;
    
}

.chip_right {
    width: 28%;
    float: right;
    padding-left: 120px;
}

.another_parent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative; 
    
}

.dotted_left {
    width: 24%;
}

.dotted_right {
    position: absolute; 
    right: 0;
    top: 0;
    width: 76%;
    min-height: 140px;
    /* border: 1px solid #000; */
    padding: 10px;
    overflow: hidden;
}


/* ==== circuit container code starts ==== */
.circuit_container_main{
    width: 275px;
    /* height: 120px; */
    background-color: var(--info-light);
    border: 2px solid var(--primary-border);
    overflow: hidden;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.circut_container {
    width: calc(100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.inner_boxes {
    width: calc(95% / 4);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.container {
    position: relative;
    width: 100%;  
    height: 50px;
    background: var(--dark-bg);
}

.most-top-rectangle {
    position: absolute;
    top: -10px;
    left: 50%;              
    transform: translateX(-50%);
    width: 40%;
    height: 12px;
    background: var(--light-bg);
}

.top-rectangle {
    position: absolute;
    top: -8px;
    left: 50%;              
    transform: translateX(-50%);
    width: 55%;
    height: 12px;
    background: var(--dark-bg);
}


.left-square, .right-square {
    position: absolute;
    top: -4px;      
    width: 8px;
    height: 6px;
}
.left-square {
    left: 0;
    background: #c6c632;
}
.right-square {
    right: 0;
    background: #126934;
}

/* ===== bars ===== */
.left-bar, .right-bar {
    position: absolute;
    top: 15px; 
    width: 5px;
    height: 15px;
    background: white;
}
.left-bar {
    left: 5px;
}
.right-bar {
    right: 5px;
}

/* ==== grill ==== */
.grill {
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 30px; 
    height: 15px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.grill div {
    width: 3px;
    height: 15px;
    background: gray;
}

/* ==== code ends ====*/

/* ===== mechanism code starts here ===== */
.mechanism_container{
    position: absolute;
    top: 15%;
    left: 30%;
    width: 275px;
    /* height: 120px; */
    border: 1px solid var(--info-light);
    background-color: var(--primary-border);
}

.m_parent{
    width: calc(100%);
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.m_box{
    width: calc(24%);
    height: 60px;
    border: 1px solid var(--primary-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.m_internal{
    display: inline-block;
    height: 20px;
    width: 40px;
    border: 4px solid var(--dark-bg);
    background-color: var(--light-bg);
}

.m_parent .centeral_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 25px;
    background-color: var(--primary-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centeral_div .inside_txt{
    width: calc(24%);
    /* height: 20px; */
    border: 2px solid #000000;
    border-right: 2px solid var(--primary-gray);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem;
}

.centeral_div>:nth-child(4) {
    border-right: 2px solid var(--dark-bg);
}


.centeral_div .inside_txt .overlay_box{
    position: absolute;
    height: 15px;
    width: 28px;
    background-color: var(--prios-gry);
    left: 50%;
    top: -12px;
    transform: translate(-50%);
    border-radius: 0.2rem;
}
.centeral_div .inside_txt .overlay_box_two{
    position: absolute;
    height: 15px;
    width: 28px;
    background-color: var(--prios-gry);
    left: 50%;
    bottom: -12px;
    transform: translate(-50%);
    border-radius: 0.2rem;
}

.centeral_div .inside_txt .stand_left {
    position: absolute;
    width: 3px;
    height: 8px;
    background-color: var(--dark-bg);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.centeral_div .inside_txt .stand_right {
    position: absolute;
    width: 3px;
    height: 8px;
    background-color: var(--dark-bg);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.arrow {
    font-size: 10px;     
    color: var(--dark-bg); 
    vertical-align: middle;
}

/* ==== code ends ==== */
.device_timer{
    position: absolute;
    top: 0;
    left: 60%;
    /* width: 105px;
    height: 150px; */
    border: 2.5px solid var(--primary-border);
    background: var(--info-light);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px 5px 5px;
}

.clock_watch{
    position: relative;
    width: 85px;
    height: 60px;
    background: var(--dark-bg);
}

.clock_watch--reverse{
    transform: rotate(180deg);
}

.clock_watch::before{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:50px;
    height:25px;
    background:var(--info-light);
    transform:translate(-50%,-50%);
}

.pill{
    position:absolute;
    width:3px;
    height:12px;
    background:var(--light-bg);
    top:50%;
    transform:translateY(-50%);
}

.pill.left{ left:0; }
.pill.right{ right:0; }

.square{
    position:absolute;
    width:10px;
    height:10px;
    background:var(--info-light);
    bottom:0;
}

.square.left{ left:0; }
.square.right{ right:0; }

.white{
    position:absolute;
    width:40px;
    height:10px;
    background:var(--light-bg);
    left:50%;
    bottom:0;
    transform:translate(-50%,50%);
}
.middle_arrow{
    text-align: center;
}

.device_timer_two {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 2.5px solid var(--primary-border);
    background: var(--info-light);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0px 5px 5px;
}

/* ==== code ends ==== */

/* ========== circuit container code starts ========= */
.circuit_container_two{
    width: 80px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
    border: 2.5px solid var(--primary-border);
    background: var(--info-light);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 10px;
}

/* .circuit_container_main_two{
    width: 275px;
    background-color: var(--info-light);
    border: 2px solid var(--primary-border);
    overflow: hidden;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.circut_container_two{
    width: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.inner_boxes_two{
    width: calc(100%);
}