<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Type - S5731-H24T4XC(ii)</title>
    <link rel="stylesheet" href="../css/style4.css">
</head>
<body>

   <div class="component">
    <p class="c_title">Device Type - S5731-H24T4XC</p>
        <!-- ========= main container section ============ -->
            <div class="main-conainer">
                <!-- ======= box first code starts ========== -->
                <div class="container-boxes-first">
                    <span class="c_top"></span>
                    <span class="c_circle"></span>
                    <span class="c_round"></span>
                    <span class="c_circle_2"></span>
                    <span class="c_bottom"></span>
                </div>
                <!-- ======= box second code starts ========= -->
                <div class="container-boxes-second">
                    <div class="huwaei_container">
                        <!-- ==== first box ==== -->
                        <div class="huwaei_boxes_first">
                            <div class="huwei_internal">
                                <span class="huwei_title">+</span>
                                <span class="huwaei_text">Huawei</span>
                                <span class="huawei_round"></span>
                                <span class="serial_no">SN </span>
                                <span class="mac_number">MAC</span>
                            </div>  
                            <!-- <div class="huwei_internal"></div> -->
                               <!-- ==== second box ==== -->
                         <div class="huwaei_boxes_second">
                            <span class="huwei_title">+</span>
                            <span class="black_card">BLACK CARD</span>
                         </div>
                          <!-- == ends == -->

                            <div class="huwei_internal">
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>

                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>

                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>

                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <span class="line-2"></span>
                                    <!-- ======= absolute-center-div ======== -->
                                 <div class="box_red">
                                    <span class="bg_red"></span>
                                 </div>
                                 <!-- ==== code ends ==== -->
                                 <div class="gradient_box">
                                    
                                 </div>

                            </div>
                              <div class="huwei_internal">
                                    <!-- <div class="dooted_lines_another">  -->
                                        
                                    <!-- </div> -->

                                     <!-- ======= absolute-center-div ======== -->
                                 <div class="box_red">
                                    <span class="bg_red"></span>
                                 </div>
                                 <!-- ==== code ends ==== -->
                                 <div class="gradient_box">
                                    
                                 </div>

                            </div>
                        </div>  
                        <!-- == ends == -->
                        
                          <!-- ======== third box ======== -->
                        <div class="huwaei_boxes_third">
                           <div class="huawei_internal">
                            <div class="info_huvey">
                                <span class="gradient_line gradient_line--top-right"></span>
                                <span class="gradient_line gradient_line--top-left"></span>
                                <span class="gradient_line gradient_line--bottom-left"></span>
                                <span class="gradient_line gradient_line--bottom-right"></span>

                                 <div class="huawey_right_box">
                                <span class="hwawey_shadow"></span>
                                <span class="right_side_line"></span>
                            </div>
                            </div>
                            <!-- horizontal_line -->
                            <div class="hui_middle"> 
                                <span class="middle_line"></span>
                            </div>
                               
                           </div>
                           <div class="huawei_internal">
                            <!-- horizontal_line -->
                            <div class="hui_middle">
                                <span class="middle_line"></span>
                            </div>
                           

                            <div class="aside_main">
                                <div class="huawey_left_box"></div>
                                 <div class="huawey_right_box">
                                <span class="hwawey_shadow"></span>
                                <span class="right_side_line"></span>
                            </div>
                            </div>
                            <div class="aside_main"></div>
                           </div>
                        </div>
                        <!-- == ends == -->
                    </div>
                    
                </div>
                <!-- ======= box third code starts ========== -->
                <div class="container-boxes-third">
                     <span class="c_top"></span>
                     <span class="c_radio">
                        <span class="c_input"></span>
                     </span>
                    <span class="c_bottom"></span>
                </div>
            </div>
        </div>
    
</body>
</html>