<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Components of the USG6585F (2)</title>
    <link rel="stylesheet" href="../css/style1.css">
     <!-- <link rel="stylesheet" href="../css/style3.css"> -->
</head>
<body>

   <div class="component">
            <div class="main-conainer">
                <div class="container-boxes-first">
                    <span class="c_top"></span>
                    <span class="c_circle"></span>
                    <span class="c_round"></span>
                    <span class="c_circle_2"></span>
                    <span class="c_bottom"></span>
                </div>
                <div class="container-boxes-second">
                    <div class="huwaei_container">
                        <!-- ==== first box ==== -->
                        <div class="huwaei_boxes_first">
                            <div class="huwei_internal">
                                <span class="huwei_title">+</span>
                                <span class="huwaei_text">Huawei</span>
                                <span class="huawei_round"></span>
                            </div>  
                            <div class="huwei_internal"></div>
                            <div class="huwei_internal">
                                    <!-- <div class="dooted_lines_another">  -->
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>      
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>      
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>

                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 "></span>
                                        <span class="line-2 "></span>
                                        <span class="line-2 "></span>      
                                        <span class="line-2 "></span>
                                        <span class="line-2 "></span>
                                        <span class="line-2 "></span>
                                        <span class="line-2 "></span>
                                        <span class="line-2 "></span>
                                        <span class="line-2 white_balls"></span>

                                         <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>      
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2 "></span>
                                        <span class="line-2 white_balls"></span>
                                        
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>      
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>

                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>      
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>

                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>      
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>

                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>      
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>

                                       <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>      
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>

                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>      
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>

                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>      
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>

                                         <span class="line-2"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>      
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2 "></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>

                                         <span class="line-2"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>      
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2 white_balls"></span>


                                          <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>      
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>

                                          <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>      
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                        <span class="line-2 white_balls"></span>
                                       
                                        
                
                                        
                                      
                                        
                                    <!-- </div> -->
                                    
                                 
                                 <div class="box_red">
                                    <span class="bg_red"></span>
                                 </div>
                                 <div class="gradient_box">
                                    
                                 </div>

                            </div>
                        </div>  
                        <!-- == ends == -->
                        <div class="huwaei_boxes_second"></div>
                        <!-- ==== third box ==== -->
                        <div class="huwaei_boxes_third">
                           <div class="huawei_internal">
                            <div class="info_huvey">
                                <span class="gradient_line gradient_line--top-right"></span>
                                <span class="gradient_line gradient_line--top-left"></span>
                                <span class="gradient_line gradient_line--bottom-left"></span>
                                <span class="gradient_line gradient_line--bottom-right"></span>

                                 <div class="huawey_right_box">
                                <span class="hwawey_shadow"></span>
                                <span class="right_side_line"></span>
                            </div>
                            </div>
                            <!-- horizontal_line -->
                            <div class="hui_middle"> </div>
                               
                           </div>
                           <div class="huawei_internal">
                            <!-- horizontal_line -->
                            <div class="hui_middle">
                                <span class="middle_line"></span>
                            </div>
                           

                            <div class="aside_main">
                                <div class="huawey_left_box">
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                     <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                     <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    
                                </div>
                                 <div class="huawey_right_box">
                                <span class="hwawey_shadow"></span>
                                <span class="right_side_line"></span>
                            </div>
                            </div>
                            <div class="aside_main">
                                <div class="card_polynet">
                                    <div class="cardnet">
                                        <div class="inner">
                                            <div class="dot one"></div>
                                            <div class="dot two"></div>
                                            <div class="dot three"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           </div>
                        </div>
                        <!-- == ends == -->
                    </div>
                    
                </div>
                <div class="container-boxes-third">
                     <span class="c_top"></span>
                     <span class="c_radio">
                        <span class="c_input"></span>
                     </span>
                    <span class="c_bottom"></span>
                </div>
            </div>
        </div>
    
</body>
</html>