<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Components of the USG6585F (i)</title>
    <link rel="stylesheet" href="../css/style1.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

        <div class="component">


             <!-- ========= main container section ============ -->
              <p class="c_title">Device Type - Components of the USG6585F</p>
            <div class="main-conainer">
                <div class="container-boxes-first">
                    <span class="c_top"></span>
                    <span class="c_circle"></span>
                    <span class="c_round"></span>
                    <span class="c_circle_2"></span>
                    <span class="c_bottom"></span>
                </div>
                <div class="container-boxes-second">
                    <!-- ajao chill mode me kaam karte hai -->
                     <div class="device-type">
                        <div class="cloud">
                            <ul>
                                <li>PWR</li>
                                <li>SYS</li>
                                <li>USB</li>
                                <li>HA</li>
                                <li>WAN</li>
                                <li>CLOUD</li>
                                <li>RST</li>
                            </ul>
                        </div>
                        <!-- ===== module-code-starts ===== -->
                        <div class="module-view">
                           <div class="classic_circuit">
                            <span class="line-1"></span>
                            <span class="line-1"></span>
                            <!-- ======= parent ======== -->
                            <div class="parent">
                                <div class="chip_left">
                                    <span class="line-1"></span>
                                </div>
                                <div class="chip_right">
                                    <span class="line-1"></span>
                                </div>
                            </div>
                            <!-- ====== another parent ====== -->
                             <div class="another_parent">
                                <div class="dotted_left">
                                    <span class="line-1"></span>
                                     <span class="line-1"></span>
                                      <span class="line-1"></span>
                                       <span class="line-1"></span>
                                        <span class="line-1"></span>
                                         <span class="line-1"></span>
                                </div>
                                <div class="dotted_right">
                                    <!-- ====== circuit main container code ===== -->
                                    <div class="circuit_container_main">
                                        <div class="circut_container">     
                                            <div class="inner_boxes">
                                            
                                            <div class="container">
                                                    <div class="most-top-rectangle"></div>
                                                    <div class="top-rectangle"></div>
                                                    <div class="left-square"></div>
                                                    <div class="right-square"></div>
                                                    <div class="left-bar"></div>
                                                    <div class="right-bar"></div>
                                                    <div class="grill">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="inner_boxes">
                                            
                                            <div class="container">
                                                    <div class="most-top-rectangle"></div>
                                                    <div class="top-rectangle"></div>
                                                    <div class="left-square"></div>
                                                    <div class="right-square"></div>
                                                    <div class="left-bar"></div>
                                                    <div class="right-bar"></div>
                                                    <div class="grill">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="inner_boxes">
                                            
                                            <div class="container">
                                                    <div class="most-top-rectangle"></div>
                                                    <div class="top-rectangle"></div>
                                                    <div class="left-square"></div>
                                                    <div class="right-square"></div>
                                                    <div class="left-bar"></div>
                                                    <div class="right-bar"></div>
                                                    <div class="grill">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="inner_boxes">
                                            
                                            <div class="container">
                                                    <div class="most-top-rectangle"></div>
                                                    <div class="top-rectangle"></div>
                                                    <div class="left-square"></div>
                                                    <div class="right-square"></div>
                                                    <div class="left-bar"></div>
                                                    <div class="right-bar"></div>
                                                    <div class="grill">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </div>



                                            </div>
                                    </div>
                                     <div class="circut_container" style="transform: rotate(180deg);">
                                            <div class="inner_boxes">
                                            
                                            <div class="container">
                                                    <div class="most-top-rectangle"></div>
                                                    <div class="top-rectangle"></div>
                                                    <div class="left-square"></div>
                                                    <div class="right-square"></div>
                                                    <div class="left-bar"></div>
                                                    <div class="right-bar"></div>
                                                    <div class="grill">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="inner_boxes">
                                            
                                            <div class="container">
                                                    <div class="most-top-rectangle"></div>
                                                    <div class="top-rectangle"></div>
                                                    <div class="left-square"></div>
                                                    <div class="right-square"></div>
                                                    <div class="left-bar"></div>
                                                    <div class="right-bar"></div>
                                                    <div class="grill">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="inner_boxes">
                                            
                                            <div class="container">
                                                    <div class="most-top-rectangle"></div>
                                                    <div class="top-rectangle"></div>
                                                    <div class="left-square"></div>
                                                    <div class="right-square"></div>
                                                    <div class="left-bar"></div>
                                                    <div class="right-bar"></div>
                                                    <div class="grill">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div class="inner_boxes">
                                            
                                            <div class="container">
                                                    <div class="most-top-rectangle"></div>
                                                    <div class="top-rectangle"></div>
                                                    <div class="left-square"></div>
                                                    <div class="right-square"></div>
                                                    <div class="left-bar"></div>
                                                    <div class="right-bar"></div>
                                                    <div class="grill">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </div>



                                            </div> 
                                    </div>
                                    </div>
                                    <!-- ==== code ends ==== -->
                                    <!-- ===== mechanism code starts here ===== -->
                                     <div class="mechanism_container">
                                        <div class="m_parent">
                                            <div class="centeral_div">
                                                <div class="inside_txt">
                                                    <span class="overlay_box"></span>
                                                    <span class="overlay_box_two"></span>
                                                    <span class="stand_left"></span>
                                                    <span class="stand_right"></span>
                                                    <span class="arrow">▲</span>
                                                    <span class="arrow">▼</span>
                                                    <span class="arrow">▲</span>
                                                    <span class="arrow">▼</span>
                                                </div>
                                                <div class="inside_txt">
                                                     <span class="overlay_box"></span>
                                                    <span class="overlay_box_two"></span>
                                                     <span class="stand_left"></span>
                                                    <span class="stand_right"></span>
                                                    <span class="arrow">▲</span>
                                                    <span class="arrow">▼</span>
                                                    <span class="arrow">▲</span>
                                                    <span class="arrow">▼</span>
                                                </div>
                                                <div class="inside_txt">
                                                     <span class="overlay_box"></span>
                                                    <span class="overlay_box_two"></span>
                                                     <span class="stand_left"></span>
                                                    <span class="stand_right"></span>
                                                    <span class="arrow">▲</span>
                                                    <span class="arrow">▼</span>
                                                    <span class="arrow">▲</span>
                                                    <span class="arrow">▼</span>
                                                </div>
                                                <div class="inside_txt">
                                                     <span class="overlay_box"></span>
                                                    <span class="overlay_box_two"></span>
                                                     <span class="stand_left"></span>
                                                    <span class="stand_right"></span>
                                                    <span class="arrow">▲</span>
                                                    <span class="arrow">▼</span>
                                                    <span class="arrow">▲</span>
                                                    <span class="arrow">▼</span>
                                                </div>
                                            </div>
                                            <div class="m_box">
                                                <span class="m_internal"></span>
                                            </div>
                                            <div class="m_box">
                                                <span class="m_internal"></span>
                                            </div>
                                            <div class="m_box">
                                                <span class="m_internal"></span>
                                            </div>
                                            <div class="m_box">
                                                <span class="m_internal"></span>
                                            </div>
                                            <div class="m_box">
                                                <span class="m_internal"></span>
                                            </div>
                                            <div class="m_box">
                                                <span class="m_internal"></span>
                                            </div>
                                            <div class="m_box">
                                                <span class="m_internal"></span>
                                            </div>
                                            <div class="m_box">
                                                <span class="m_internal"></span>
                                            </div>
                                            
                                        </div>
                                     </div>
                                     <!-- ==== code ends ==== -->
                                     <!-- ==== Device timer code starts here ==== -->
                                     <div class="device_timer">
                                        <div class="clock_watch">
                                            <span class="pill left"></span>
                                            <span class="pill right"></span>

                                            <span class="square left"></span>
                                            <span class="square right"></span>

                                            <span class="white"></span>
                                        </div>
                                        <div class="middle_arrow">
                                            <span class="arrow">▲</span>
                                            <span class="arrow">▼</span>
                                            <span class="arrow">▲</span>
                                            <span class="arrow">▼</span>
                                        </div>
                                        <div class="clock_watch clock_watch--reverse">
                                            <span class="pill left"></span>
                                            <span class="pill right"></span>

                                            <span class="square left"></span>
                                            <span class="square right"></span>

                                            <span class="white"></span>
                                        </div>
                                    </div>
                                    <!-- ==== code ends ==== -->
                                     <!-- ==== Circuit container tow code starts here ==== -->
                                    <div class="circuit_container_two">
                                        <!-- <div class="circuit_container_main_two"> -->
                                            <div class="circut_container_two">
                                            <div class="inner_boxes_two">
                                            <div class="container">
                                                    <div class="most-top-rectangle"></div>
                                                    <div class="top-rectangle"></div>
                                                    <div class="left-square"></div>
                                                    <div class="right-square"></div>
                                                    <div class="left-bar"></div>
                                                    <div class="right-bar"></div>
                                                    <div class="grill">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                            </div>
                                            </div>
                                            <div class="inner_boxes_two" style="transform: rotate(180deg);">
                                            
                                            <div class="container">
                                                    <div class="most-top-rectangle"></div>
                                                    <div class="top-rectangle"></div>
                                                    <div class="left-square"></div>
                                                    <div class="right-square"></div>
                                                    <div class="left-bar"></div>
                                                    <div class="right-bar"></div>
                                                    <div class="grill">
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                    </div>
                                                </div>



                                            </div>
                                            </div>
                                        <!-- </div> -->
                                    </div>
                                    <!-- ==== code ends ==== -->
                                    <!-- ==== USB Section code ==== -->
                                        <div class="usb_container">
                                            <div class="sub_left">
                                                <div class="router_first">
                                                    <span class="router_left"></span>
                                                    <span class="router_right"></span>
                                                </div>
                                                <div class="router_second">
                                                    <span class="line-1"></span>
                                                    <span class="line-1"></span>
                                                </div>
                                            </div>
                                            <div class="sub_right">
                                                <div class="usb_inenr">
                                                    <span class="w_box_l"></span>
                                                    <span class="sub_square"></span>
                                                    <span class="sub_square_two"></span>
                                                </div>
                                                <div class="usb_inenr_r">
                                                    <span class="w_box_l"></span>
                                                    <span class="sub_square"></span>
                                                    <span class="sub_square_two"></span>
                                                </div>
                                            </div>
                                    </div>
                                    <!-- ==== code ends ==== -->
                                        <!-- ==== Device timer code starts here ==== -->
                                     <div class="device_timer_two">
                                        <div class="clock_watch">
                                            <span class="pill left"></span>
                                            <span class="pill right"></span>

                                            <span class="square left"></span>
                                            <span class="square right"></span>

                                            <span class="white"></span>
                                        </div>
                                        <div class="middle_arrow">
                                            <span class="arrow">▲</span>
                                            <span class="arrow">▼</span>
                                            <span class="arrow">▲</span>
                                            <span class="arrow">▼</span>
                                        </div>
                                        <div class="clock_watch clock_watch--reverse">
                                            <span class="pill left"></span>
                                            <span class="pill right"></span>

                                            <span class="square left"></span>
                                            <span class="square right"></span>

                                            <span class="white"></span>
                                        </div>
                                    </div>
                                    <!-- ==== code ends ==== -->
                                </div>
                             </div>
                             

                           </div>
                           <div class="classic_board">
                            <span class="line-1"></span>
                           </div>
                        </div>
                        <!-- ==== module-code-ends ==== -->
                     </div>
                </div>
                <div class="container-boxes-third">
                     <span class="c_top"></span>
                     <span class="c_radio">
                        <span class="c_input"></span>
                     </span>
                    <span class="c_bottom"></span>
                </div>
            </div>
            <!-- ======= main code ends ======== -->
                <br>
                <br>
            <!-- ======== another main component added ========= -->
             <div class="main-conainer p_0">
                <div class="container-boxes-first">
                    <span class="c_top"></span>
                    <span class="c_circle"></span>
                    <span class="c_round"></span>
                    <span class="c_circle_2"></span>
                    <span class="c_bottom"></span>
                </div>
                <div class="container-boxes-second p_0">
                    <div class="huwaei_container">
                        <!-- ==== first box ==== -->
                        <div class="huwaei_boxes_first">
                            <div class="huwei_internal">
                                <span class="huwei_title">+</span>
                                <span class="huwaei_text">Huawei</span>
                                <span class="huawei_round"></span>
                            </div>  
                            <div class="huwei_internal"></div>
                            <div class="huwei_internal">
                                  <div class="h_boxes P_1">
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                  </div>
                                   <div class="h_boxes p_2">
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                  </div>
                                   <div class="h_boxes">
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        
                                  </div>
                                    <div class="h_boxes">
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        
                                  </div>
                                    <span class="h_boxes_model"></span>
                                   <div class="h_boxes">
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        
                                  </div>
                                    <div class="h_boxes">
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                  </div>
                                   <div class="h_boxes p_3">
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        
                                  </div>
                                   <div class="h_boxes p_3">
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        <span class="line-2"></span>
                                        
                                  </div>    
                                  
                                    <!-- ======= absolute-center-div ======== -->
                                 <div class="box_red">
                                    <span class="bg_red"></span>
                                 </div>
                                 <!-- ==== code ends ==== -->
                                 <div class="gradient_box">
                                    
                                 </div>
                                 
                            </div>
                        </div>  
                        <!-- == ends == -->
                        <div class="huwaei_boxes_second"></div>
                        <!-- ==== third box ==== -->
                        <div class="huwaei_boxes_third">
                           <div class="huawei_internal">
                            <div class="info_huvey">
                                <span class="gradient_line gradient_line--top-right"></span>
                                <span class="gradient_line gradient_line--top-left"></span>
                                <span class="gradient_line gradient_line--bottom-left"></span>
                                <span class="gradient_line gradient_line--bottom-right"></span>

                                 <div class="huawey_right_box">
                                <span class="hwawey_shadow"></span>
                                <span class="right_side_line"></span>
                            </div>
                            </div>
                            <!-- horizontal_line -->
                            <div class="hui_middle"> </div>
                               
                           </div>
                           <div class="huawei_internal">
                            <!-- horizontal_line -->
                            <div class="hui_middle">
                                <span class="middle_line"></span>
                            </div>
                            <div class="aside_main">
                                <div class="huawey_left_box">
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                     <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                     <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>

                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 white_balls"></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2 "></span>
                                    <span class="line-2"></span>
                                    
                                </div>
                                <!-- ===== dotted code ends ===== -->
                                <div class="huawey_right_box">
                                    <span class="hwawey_shadow"></span>
                                    <span class="right_side_line"></span>
                                </div>
                            </div>
                            <div class="aside_main">
                                <div class="card_polynet">
                                    <div class="cardnet">
                                        <div class="inner">
                                            <div class="dot one"></div>
                                            <div class="dot two"></div>
                                            <div class="dot three"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           </div>
                        </div>
                        <!-- == ends == -->
                    </div>
                    
                </div>
                <div class="container-boxes-third">
                     <span class="c_top"></span>
                     <span class="c_radio">
                        <span class="c_input"></span>
                     </span>
                    <span class="c_bottom"></span>
                </div>
            </div>

            <!-- ==== code ends ==== -->
    


      
    
</body>
</html>